@{
    ViewData["Title"] = "NRYLL ADMIN";
}
<h1 class="admin">@ViewData["Title"]</h1>

<section id="content">
    <div class="column">
        <h2>Add Flower</h2>
        <div>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, Donec sed odio dui. Cras justo odio, dapibus
                ac
                facilisis in,
            </p>
        </div>
    </div>
    <div class="column">
        <h2>Edit Flower</h2>
        <div>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, Donec sed odio dui. Cras justo odio, dapibus
                ac
                facilisis in,
            </p>
        </div>
    </div>
    <div class="column">
        <h2>Delete Flower</h2>
        <div>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, Donec sed odio dui. Cras justo odio, dapibus
                ac
                facilisis in,
            </p>
        </div>
    </div>
    <div class="column">
        <h2>Name of Flower</h2>
        <div>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, Donec sed odio dui. Cras justo odio, dapibus
                ac
                facilisis in,
            </p>
        </div>
    </div>
    <div class="column">
        <h2>Price</h2>
        <div>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, Donec sed odio dui. Cras justo odio, dapibus
                ac
                facilisis in,
            </p>
        </div>
    </div>
    <div class="column">
        <h2>Stock</h2>
        <div>
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, Donec sed odio dui. Cras justo odio, dapibus
                ac
                facilisis in,
            </p>
        </div>
    </div>
</section>


