@{
    ViewData["Title"] = "Home Page";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<!------ Include the above in your HEAD tag ---------->
<link href="~/MyMainLayout.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Oswald:500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montaga&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montaga&display=swap" rel="stylesheet">
<script>
    !function (e) { "undefined" == typeof module ? this.charming = e : module.exports = e }(function (e, n) { "use strict"; n = n || {}; var t = n.tagName || "span", o = null != n.classPrefix ? n.classPrefix : "char", r = 1, a = function (e) { for (var n = e.parentNode, a = e.nodeValue, c = a.length, l = -1; ++l < c;) { var d = document.createElement(t); o && (d.className = o + r, r++), d.appendChild(document.createTextNode(a[l])), n.insertBefore(d, e) } n.removeChild(e) }; return function c(e) { for (var n = [].slice.call(e.childNodes), t = n.length, o = -1; ++o < t;)c(n[o]); e.nodeType === Node.TEXT_NODE && a(e) }(e), e });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
<section>

    <div class="swiper-container slideshow">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <div class="slide-image" style=" background-image: url('../lib/Images/abt3.png.jpg')"></div>

                <span class="slide-title">About Us</span>
                <span class="slide-paragraph">We are an independent and family owned flower shop in Edmonton. We love to bring amazing floral creations to life.<br /> We have been proudly serving Edmonton & area since 2006</span>

            </div>

            <div class="swiper-slide slide">
                <div class="slide-image" style="  background-image: url('lib/images/wedding.jpg');
"></div>




                <span class="slide-title">Wedding & Events</span>
                <span class="slide-paragraph">At Hypnotic Bloom, we strive to make your special moments memorable with the finest flowers available.</span>


            </div>

            <div class="swiper-slide slide">
                <div class="slide-image" style="      background-image: url('lib/images/contact.jpg');
"></div>

                <span class="slide-title">Contact Us</span>
                <span class="slide-paragraph">
                    <b>
                        Better yet, see us in person!
                    </b>

                    We love our customers, so feel free to visit during normal business hours.<br />10931 23 Avenue NW, Edmonton, Alberta T6J 6P4, Canada
                    (567) 000-1111
                </span>

            </div>

            <!--         <div class="swiper-slide slide">
                <div class="slide-imageswiper-lazy" data-background="https://images.unsplash.com/photo-1538083024336-555cf8943ddc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=66b476a51b19889e13182c0e4827af18&auto=format&fit=crop&w=1950&q=80">
                </div>
                </div>
                <span class="slide-title">Exotic places</span>
              </div>

              <div class="swiper-slide slide">
                <div class="slide-image swiper-lazy" data-background="https://images.unsplash.com/photo-1500375592092-40eb2168fd21?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e07d2457879a4e15577ec75a31023e47&auto=format&fit=crop&w=2134&q=80">
                </div>
                <span class="slide-title">Meet ocean</span>
              </div>

              <div class="swiper-slide slide">
                <div class="slide-image swiper-lazy" data-background="https://images.unsplash.com/photo-1482059470115-0aadd6bf6834?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=267bba9a4e280ec64388fe8fb01e9d1b&auto=format&fit=crop&w=1950&q=80">
                </div>
                <span class="slide-title">Around the world</span>
              </div> -->

        </div>

        <div class="slideshow-pagination"></div>

        <div class="slideshow-navigation">
            <div class="slideshow-navigation-button prev"><span class="fas fa-chevron-left"></span></div>
            <div class="slideshow-navigation-button next"><span class="fas fa-chevron-right"></span></div>
        </div>

    </div>





</section>
<script>
    // The Slideshow class.
    class Slideshow {
        constructor(el) {

            this.DOM = { el: el };

            this.config = {
                slideshow: {
                    delay: 3000,
                    pagination: {
                        duration: 3,
                    }
                }
            };

            // Set the slideshow
            this.init();

        }
        init() {

            var self = this;

            // Charmed title
            this.DOM.slideTitle = this.DOM.el.querySelectorAll('.slide-title');
            this.DOM.slideTitle.forEach((slideTitle) => {
                charming(slideTitle);
            });

            // Set the slider
            this.slideshow = new Swiper(this.DOM.el, {

                loop: true,
                autoplay: {
                    delay: this.config.slideshow.delay,
                    disableOnInteraction: false,
                },
                speed: 500,
                preloadImages: true,
                updateOnImagesReady: true,

                // lazy: true,
                // preloadImages: false,

                pagination: {
                    el: '.slideshow-pagination',
                    clickable: true,
                    bulletClass: 'slideshow-pagination-item',
                    bulletActiveClass: 'active',
                    clickableClass: 'slideshow-pagination-clickable',
                    modifierClass: 'slideshow-pagination-',
                    renderBullet: function (index, className) {

                        var slideIndex = index,
                            number = (index <= 8) ? '0' + (slideIndex + 1) : (slideIndex + 1);

                        var paginationItem = '<span class="slideshow-pagination-item">';
                        paginationItem += '<span class="pagination-number">' + number + '</span>';
                        paginationItem = (index <= 8) ? paginationItem + '<span class="pagination-separator"><span class="pagination-separator-loader"></span></span>' : paginationItem;
                        paginationItem += '</span>';

                        return paginationItem;

                    },
                },


                // Navigation arrows
                navigation: {
                    nextEl: '.slideshow-navigation-button.next',
                    prevEl: '.slideshow-navigation-button.prev',
                },

                // And if we need scrollbar
                scrollbar: {
                    el: '.swiper-scrollbar',
                },

                on: {
                    init: function () {
                        self.animate('next');
                    },
                }

            });

            // Init/Bind events.
            this.initEvents();

        }
        initEvents() {

            this.slideshow.on('paginationUpdate', (swiper, paginationEl) => this.animatePagination(swiper, paginationEl));
            //this.slideshow.on('paginationRender', (swiper, paginationEl) => this.animatePagination());

            this.slideshow.on('slideNextTransitionStart', () => this.animate('next'));

            this.slideshow.on('slidePrevTransitionStart', () => this.animate('prev'));

        }
        animate(direction = 'next') {

            // Get the active slide
            this.DOM.activeSlide = this.DOM.el.querySelector('.swiper-slide-active'),
                this.DOM.activeSlideImg = this.DOM.activeSlide.querySelector('.slide-image'),
                this.DOM.activeSlideTitle = this.DOM.activeSlide.querySelector('.slide-title'),
                this.DOM.activeSlideTitleLetters = this.DOM.activeSlideTitle.querySelectorAll('span');

            // Reverse if prev
            this.DOM.activeSlideTitleLetters = direction === "next" ? this.DOM.activeSlideTitleLetters : [].slice.call(this.DOM.activeSlideTitleLetters).reverse();

            // Get old slide
            this.DOM.oldSlide = direction === "next" ? this.DOM.el.querySelector('.swiper-slide-prev') : this.DOM.el.querySelector('.swiper-slide-next');
            if (this.DOM.oldSlide) {
                // Get parts
                this.DOM.oldSlideTitle = this.DOM.oldSlide.querySelector('.slide-title'),
                    this.DOM.oldSlideTitleLetters = this.DOM.oldSlideTitle.querySelectorAll('span');
                // Animate
                this.DOM.oldSlideTitleLetters.forEach((letter, pos) => {
                    TweenMax.to(letter, .3, {
                        ease: Quart.easeIn,
                        delay: (this.DOM.oldSlideTitleLetters.length - pos - 1) * .04,
                        y: '50%',
                        opacity: 0
                    });
                });
            }

            // Animate title
            this.DOM.activeSlideTitleLetters.forEach((letter, pos) => {
                TweenMax.to(letter, .6, {
                    ease: Back.easeOut,
                    delay: pos * .05,
                    startAt: { y: '50%', opacity: 0 },
                    y: '0%',
                    opacity: 1
                });
            });

            // Animate background
            TweenMax.to(this.DOM.activeSlideImg, 1.5, {
                ease: Expo.easeOut,
                startAt: { x: direction === 'next' ? 200 : -200 },
                x: 0,
            });

            //this.animatePagination()

        }
        animatePagination(swiper, paginationEl) {

            // Animate pagination
            this.DOM.paginationItemsLoader = paginationEl.querySelectorAll('.pagination-separator-loader');
            this.DOM.activePaginationItem = paginationEl.querySelector('.slideshow-pagination-item.active');
            this.DOM.activePaginationItemLoader = this.DOM.activePaginationItem.querySelector('.pagination-separator-loader');

            console.log(swiper.pagination);
            // console.log(swiper.activeIndex);

            // Reset and animate
            TweenMax.set(this.DOM.paginationItemsLoader, { scaleX: 0 });
            TweenMax.to(this.DOM.activePaginationItemLoader, this.config.slideshow.pagination.duration, {
                startAt: { scaleX: 0 },
                scaleX: 1,
            });


        }

    }

    const slideshow = new Slideshow(document.querySelector('.slideshow'));

</script>




<!--Feacture Product-->



<div class="Product">


    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0" > Featured Product</h1>
    <hr class="mt-2 mb-5">




</div>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="~/lib/Images/fect1.png.jpg" alt="width=" 250" height="350" />



                <div class="card-body text-center">
                    <h5 class="card-title mb-0"> Summer Flowers</h5>
                    <div class="card-text text-black-50"> Brighten their summer days with colourful flowers from this hot Canada Flowers collection!</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="~/lib/Images/fect5.png.jpg" alt="width=" 250" height="350" />
                <div class="card-body text-center">
                    <h5 class="card-title mb-0"> Anniversary Flowers</h5>
                    <div class="card-text text-black-50">Original and Beautiful Anniversary Flowers florist delivered same day across Canada.</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="~/lib/Images/fect3.png.jpg" alt="width=" 250" height="350" />
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Love & Romance</h5>
                    <div class="card-text text-black-50"> Demonstrate your love and affection by sending flowers from our Love and Romance catalogue. </div>

                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="~/lib/Images/fect4.png.jpg" alt="width=" 250" height="350" />
                <div class="card-body text-center">
                    <h5 class="card-title mb-0"> Indoor Green Plants</h5>
                    <div class="card-text text-black-50"> Handsome long-lasting planter garden of assorted green plants rooted in <br>soil. </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
@*<div class="olContent f1"><h2 style="color:black">Search Product/Category</h2></div>
    <div class="olSearch fr">
        <input type="text" placeholder="Enter Keyword" name="searchKey" class="inputComn houseText form-control" />
        <div class="searchIcon">
            <button type="button" class="searchBtn">
                <img src="~/Images/searchIcon.png" />
            </button>
        </div>
    </div>*@

