@model FlowerStore.Models.AdminListItem

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AdminListItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AddFlower" class="control-label"></label>
                <input asp-for="AddFlower" class="form-control" />
                <span asp-validation-for="AddFlower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditFlower" class="control-label"></label>
                <input asp-for="EditFlower" class="form-control" />
                <span asp-validation-for="EditFlower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeleteFlower" class="control-label"></label>
                <input asp-for="DeleteFlower" class="form-control" />
                <span asp-validation-for="DeleteFlower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameofFlower" class="control-label"></label>
                <input asp-for="NameofFlower" class="form-control" />
                <span asp-validation-for="NameofFlower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

